# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=

# Postmark Email
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=hello@admireit.co
CONTACT_EMAIL_TO=hello@admireit.co

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=

# Site
NEXT_PUBLIC_SITE_URL=https://admireit.co
